.dialog {
    width: fit-content;
    max-width: 90vw;
    height: 90vh;
    margin: auto;
    border: none;
}

#dialogContainer {
    padding: 15px;
    min-height: 90vh;
    min-width: fit-content;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.imageContainer {
    border: 1px solid darkgray;
    border-radius: 2px;
}

#newCustomerContainer {
    width: 386px;
    height: 426px;
    background-image: url(../resources/new_customer.png);
}

#addJobContainer {
    width: 386px;
    height: 144px;
    background-image: url(../resources/add_job.png);
}

#estimateDetailsContainer {
    width: 577px;
    height: 285px;
    background-image: url(../resources/estimate_details.png);
}

#estimateDescriptionContainer {
    width: 417px;
    height: 200px;
    background-image: url(../resources/estimate_description.png);
}

#crmNoteContainer {
    width: 644px;
    height: 253px;
    background-image: url(../resources/crm_note.png);
}

#closeButtonContainer {
    width: 100%;
    position: sticky;
    bottom: 0;

    background: white;
    border-top: 1px solid darkgray;

    display: flex;
    justify-content: center;
    padding: 10px 0;
}

#closeButton {
    padding: 0 10px;
}

.CopyText {
    padding: 3px;
    cursor: pointer;
    font-size: 0.8rem;
    line-height: 10px;
    overflow: auto;

    position: relative;
}

#name {
    width: 193px;
    height: 16.5px;
    right: -115px;
    bottom: -10px;
}

#address {
    white-space: pre-line;
    overflow: auto;
    line-height: 17.5px;

    width: 182px;
    height: 79.5px;
    right: -154px;
    bottom: -317px;
}

#job_name {
    width: 193px;
    height: 16.5px;
    right: -116px;
    bottom: -11px;
}

#class {
    width: 177px;
    height: 18.5px;
    right: -56px;
    bottom: -16.5px;
}

#contract_date {
    width: 100px;
    height: 19px;
    right: -137px;
    bottom: -62px;
}

#salesman {
    width: 85.5px;
    height: 19px;
    right: -365px;
    bottom: -152px;
}

#source {
    width: 100px;
    height: 19px;
    right: -456px;
    bottom: -133px;
}

#price {
    text-align: right;

    width: 167px;
    height: 18.5px;
    right: -344.5px;
    bottom: -179px;
}

#job_description {
    white-space: pre-line;
    padding: 3px 5px;
    overflow: auto;
    line-height: 17.5px;

    width: 348px;
    height: 159px;
    right: -12.5px;
    bottom: -29px;
}

#crm_note {
    white-space: pre-line;
    line-height: 17.5px;

    width: 572px;
    height: 60px;
    right: -35px;
    bottom: -62.5px;
}

#excelRowContainer {
    max-width: 482px;
    overflow: auto;
}

.excelRowHeaders {
    letter-spacing: 0.5px;
    background-color: #6380A1;
    color: white;
    padding: 10px;
}

.excelRowData {
    border: 1px solid lightgray;
    white-space: nowrap;
    padding: 5px;
}