#container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.entryContainer {
    display: grid;
    grid-template-columns: 1fr 500px;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.label {
    align-self: center;
    font-size: 1.2rem;
}

.input,
.select {
    height: 30px;
}

.textarea {
    resize: none;
    height: 100px;
}

.input,
.textarea,
.select {
    font-size: 1rem;
    padding: 5px;
}

.input,
.input:active,
.select,
.select:active,
.textarea,
.textarea:active {
    border: 1px solid darkgray;
    border-radius: 2px;
}

.input:disabled,
.textarea:disabled {
    opacity: 50%;
}

#formButtonContainer {
    position: sticky;
    bottom: 0;

    background: white;
    border-top: 1px solid lightgray;

    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

#submitButton,
#clearButton {
    padding: 0 10px;
}